{{#> layout currentPage='Edit Blog'}}
<!-- EDIT BLOG -->
<form id="create-blog" action="/blog-update/{{blog.id}}?_method=PATCH" method="post" class="create-blog-form">
    <h1>Edit Blog</h1>

    <div class="input-group mb-3">
        <input name="title" id="title" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Title" value="{{blog.title}}" required>
    </div>


    <div class="input-group mb-3">
        <textarea name="content" id="content" class="form-control" aria-label="content" rows="6" placeholder="Content"
            required>{{blog.content}}</textarea>
    </div>

    <div class="input-group mb-3">
        <input type="file" class="form-control" name="image" id="image">
    </div>

    <div class="button-container">
        <button type="submit">Submit</button>
    </div>

</form>


{{/layout}}