{{#> layout currentPage='Blog Detail'}}

<!-- Blog Detail Section -->
<article class="blog-item">
  <div class="blog-item-img">
    <img src="/img/fakta-kucing-lucu-1024x683.jpg" alt="" />
  </div>
  <div class="blog-item-text">
    <div class="blog-item-buttons">
      <button class="blog-edit-button"> Edit Blog</button>
      <button class="blog-post-button">Post Blog</button>
    </div>

    <a href="blog-detail.html" style="text-decoration: none;">
      <h1 class="blog-item-title"> kucing lucu </h1>
    </a>


    <p>30 jan 2025 11:22 WIB | Syaf</p>

    <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. </p>
    <p class="blog-item-relative-time"></p>
  </div>
</article>
{{!--
<script src="/js/blog.js"></script> --}}
{{/layout}}