{{#> layout currentPage='Contact'}}

<form class="contact-form" onsubmit="submitForm(event)">
  <h1>Contact me!</h1>
  <div class="form-field">
    <label for="name">Name</label>
    <input id="name" type="text" required />
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input id="email" type="text" required />
  </div>

  <div class="form-field">
    <label for="subject">subject</label>
    <input id="subject" type="text" required />
  </div>

  <div class="form-field">
    <label for="skill">Skill</label>
    <select id="skill" required>
      <option value="">Select any skill...</option>
      <option value="fronted">frontend</option>
      <option value="backend">backend</option>
    </select>
  </div>

  <div class="form-field">
    <label for="message">Message</label>
    <textarea id="message" required></textarea>
  </div>

  <div class="form-field">
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/js/contact-form.js"></script>
{{/layout}}