{{#> layout currentPage='Testimonials'}}
<link rel="stylesheet" href="assets/css/testimonial.css" />

<!--MAIN CONTENT TESTIMONIALS-->
<main>
  <h1 style="text-align: center">My Testimonials</h1>
  <h2 style="text-align: center">Rating By Star</h2>

  <!---STAR BUTTONS-->
  <div class="testimonial-star-buttons">
    <button onclick="showAllTestimonials()">All</button>
    <button onclick="filterTestimonialsByStar(1)">1★</button>
    <button onclick="filterTestimonialsByStar(2)">2★</button>
    <button onclick="filterTestimonialsByStar(3)">3★</button>
    <button onclick="filterTestimonialsByStar(4)">4★</button>
    <button onclick="filterTestimonialsByStar(5)">5★</button>
  </div>
  <!--  TESTIMONIAL LIST -->
  <div id="testimonialsContainer" class="testimonial-list">

    <p>Loading...</p>
  </div>
</main>

<script src="assets/js/testimonials.js"></script>
{{/layout}}