@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

/* navbar */

nav {
    background-color: #ddd;
    padding: 2px 40px;
}

.btn-orangered {
    background-color: orangered !important;
    color: white !important;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu {
    display: none;
}

.hamburger-button {
    font-size: 36;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}



.mobile-menu-list {
    display: none;
}


.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.navbar-link {
    list-style: none;
}

.navbar-link a {
    text-decoration: none;
    color: orangered;
}

.menu-active {
    color: red;
    font-weight: bold;
}

.nav-contact-button {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
}

.main-content {
    display: flex;
    gap: 50px;
    padding: 50px 50px;
}

/* profile card */
#card-section {
    flex: 1;
}

.profile-card {
    align-content: center;
    border-style: none;
    /*width: 3000px;*/
    /*height:auto;*/
    border-radius: 15px;
    box-shadow: 0px 0px 30px 10px #aaa;
    /*margin: 40px auto;*/
    padding: 15px;
}

.profile-card h1 {
    text-align: center;
    color: blue;
    font-size: larger;

}

.profile-card p {
    text-align: justify;
    color: grey;
    margin: 5px 5px;
    text-indent: 25px;

}

.profile-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    border-radius: 15px;
    width: fit-content;
    margin: 20px auto;
}

.profile-table th {
    border-style: solid;
}

.profile-table td {
    border-style: solid;
}

.profile-img {
    border-radius: 15px;
    padding: 0%;
    width: 100%;
    display: flex;
    margin: 0 auto;
}


/* Profile Introduction */

#introduction {
    flex: 2.5;
}

#what-i-do h1 {
    margin-top: 0;
}

#technologies {
    display: flex;
    gap: 20px;
}

#socials h2 {
    margin-top: 0;
}

#socials a {
    text-decoration: none;
    margin-right: 20px;
}

#socials a img {
    width: 40px;
}

#socials a :hover {
    width: 60px
}

/* Contact Form Style*/

.contact-form {
    width: 500px;
    margin: 100px auto;
}

.contact-form h1 {
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-field input,
select,
textarea {
    padding: 10px;
    font-size: 16px;
    background-color: #eaeaea;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.form-field button {
    text-decoration: none;
    width: 20%;
    background: red;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: "Poppins", serif;
    cursor: pointer;
    text-align: right;
}

/* CREATE BLOG FORM STYLES */

.create-blog-form {
    width: 500px;
    margin: 30px auto;
}

.create-blog-form h1 {
    text-align: center;
}

.button-container {
    text-align: right;
    margin-top: 30px;
}

.create-blog-form button {
    font-size: 16px;
    font-family: "Poppins", serif;
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



/* BLOG LIST STYLES */
.blog-list {
    width: 90%;
    margin: 30px auto;
    /* box-sizing: border-box; */
}

.create-blog {
    width: 90%;
    margin: 10px auto;
    text-align: right;
}

.blog-item {
    height: 300px;
    padding: 15px;
    padding-bottom: 50px;
    border: 1px solid #aaa;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

}

.blog-item-img {
    /* background-color: salmon; */
    flex: 0;
}

.blog-item-img img {
    height: 100%;
}

.blog-item-text {
    /* background-color: aquamarine; */
    flex: 1;
}

.blog-item-text a h1 {
    color: black;
}

.blog-item-buttons {
    text-align: right;
}

.blog-edit-button {
    font-size: 16px;
    font-family: "Poppins", serif;
    background-color: #ccc;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.blog-post-button {
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", serif;
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.v1 {
    border-top: 1px solid black;
    width: 100%;
    display: none;
    margin-bottom: 20px;
}

.blog-item-relative-time {
    color: gray;
    text-align: right;
    flex: 1;
}

/* BLOG DETAIL STYLES */
.blog-detail {
    width: 60%;
    margin: 40px auto;
}

.blog-detail img {
    width: 100%;
}


@media screen and (max-width: 768px) {
    nav {
        padding: 2px 15px;
    }

    .main-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu-show {
        display: block;
    }

    .mobile-menu-hide {
        display: none;
    }

    .mobile-menu-list a {
        display: block;
        text-decoration: none;
        border: 1px solid #fff;
        background-color: #aaa;
        color: white;
        text-align: center;
        padding: 10px 0;
    }

    .main-content {
        display: contents;
    }

    #card-section {
        padding: 30px;
    }

    #introduction {
        padding: 0 30px 30px;
    }

    #technologies {
        flex-direction: column;
    }

    #technologies img {
        width: 40px;
        height: 40px;
    }

    #technologies h2 {
        margin: 5px 0;
    }

    /* blog form */
    .create-blog-form {
        width: fit-content;
        margin: 30px auto;
    }


    /* BLOG LIST STYLES */
    .blog-list {
        margin: 30px auto;
    }

    .create-blog {
        margin-top: 30px;
    }

    .blog-item-buttons {
        display: inline-flexbox;
        justify-content: space-between;
    }

    .blog-item {
        height: 100px;
        display: contents;
        border: 1px solid black;
    }

    .blog-item-img {
        margin-bottom: 20px;
    }

    .blog-item-img img {
        width: 100%;
    }

    .v1 {
        display: block;
    }

    /*contact form*/
    .contact-form {
        width: fit-content;
        margin: 100px auto;
    }

    .form-field button {
        width: 45%;
    }
}